{% extends "base.html" %}
{% block header%}
  {% block title %}Dashboard{% endblock %}
{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron" style="margin-top: 20px;">
        <h4>Generate a Short URL</h4>
        <form action="/shorten_url" method="POST" class="form-inline">
            <div class="form-group" style="margin-right: 10px;">
                <label for="url" style="margin-right: 5px;">URL</label>
                <textarea name="url" id="url" cols="50" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Generate</button>
        </form>

    </div>
    </div>

    <div class="row">
      {% if links.count()==0 %}
        <h4 align='center'>You don't have any links</h4>
  
      {% else %}
      <div class="table-responsive">
      <table class="table table-striped">
        <thead align="center">
            <th scope="col">Original URL</th>
            <th scope="col">Short URL</th>
            <th scope="col">Count</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody>
          {% for link in links %}
              <tr align="center" style="max-width: 100%;">
                <td>{{link['url']}}</td>
                <td><a href="/{{link['short_code']}}" target="_blank">http://www.nanourl.xyz/{{link['short_code']}}</a></td>
                <td>{{link['count']}}</td>
                <td><a class="btn btn-danger" href="/{{link['_id']|string}}/delete">Delete</a></td>
              </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
      {% endif %}
      </div>
  </div>

 
{% endblock %}