<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Register</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form" action="/register" method="POST">
            <input type="name" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="email" placeholder="email address"/>
            <button type="submit">Register</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
        </div>
      </div>
</body>
</html>